/* CSS declarations go here */

h1, h3 {
    font-family: sans-serif
}

#header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    margin:0px;
    padding:0px;
}
#header h1 {
    font-size: 40px;
    margin:0px;
    padding:0px;
    text-align: center;
}

#welcome {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    padding:0px;
    border: 8px solid lightblue;
    border-radius: 16px;
    text-align: center;
}

.overflow {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    border:0px;
    overflow: auto;
}
#players_pane .overflow, #moves_pane .overflow {
    top:90px;
}
#explanation .overflow{
    top:40px;
}
#moves_pane .overflow {
    bottom: 45px;
}

#players_pane h3,
#moves_pane h3,
#explanation h3 {
    background-color: lightblue;
    margin:0px;
    margin-bottom: 0px;
    padding: 5px;
    text-align:center;
    font-size: 20px;
    height:25px;
}

.forms {
    padding: 10px;
    margin:0px;
    text-align: center;
    height: 30px;
}
.forms.bottom {
    position: absolute;
    bottom:0px;
    left: 0px;
    right:0px;
}
#players_pane input#myname {
    width: 50%;
}
#players_pane input#leave {
    width: 20%;
}
#players_pane input#join {
    width: 20%;
}

#players_pane ul {
    padding:0px;
    margin:0px;
}
#players_pane ul li {
    margin: 0px 0px;
    padding: 4px;
    display: block;
}
#players_pane ul li:nth-child(odd) {
    background-color: rgb(224, 253, 224);
}
#players_pane ul li .symbol {
  display:inline-block;
  text-align:center;
  width:1em;
  font-family: sans-serif;
  font-weight: bold;
}
#players_pane ul li.idle {
  color: lightgray;
}
#players_pane ul li.waiting .symbol {
  color: red;
}
#players_pane ul li.finished .symbol {
  color: green;
}
#players_pane ul li {
    display: block;
}

#players_pane {
    position: absolute;
    left: 1%;
    right: 80%;
    top: 55px;
    bottom: 1%;
    overflow: auto;
    border: 1px solid lightblue;
    border-radius: 8px;
}
#moves_pane {
    position: absolute;
    left: 21%;
    right: 21%;
    top: 55px;
    bottom: 1%;
    overflow: auto;
    border: 1px solid lightblue;
    border-radius: 8px;
}
#moves_pane input#chat {
    width: 80%;
}
#moves_pane input#mymove {
    width:80%;
}

#moves_pane div.overflow > ul {
    display:block;
    padding:0px;
    margin:0px;
}
#moves_pane div.overflow > ul > li.chat {
    display:block;
    margin:0px 12px 10px 12px;
}
#moves_pane div.overflow > ul > li.chat > span.name {
    display: inline-block;
    text-align: left;
    width:5em;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0px 4px;
}
#moves_pane div.overflow > ul > li.chat > span.msg {
    padding: 0px 4px;
}
#moves_pane div.overflow > ul > li.move {
    display:block;
    padding:0px 0px;
    margin:0px 12px 6px 12px;
    /* border: 4px solid lightgreen; */
    background-color: rgb(224, 253, 224);
    border-radius: 8px;
    -moz-outline-radius: 8px;
}
#moves_pane div.overflow > ul > li.move div.moveheader {
    font-family: sans-serif;
    font-size:70%;
    font-weight: bold;
    text-align:center;
    padding:4px; 
    margin:0px;
    background-color: lightgreen;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* color: lightgray; */
}
#moves_pane div.overflow > ul > li.move > ul {
    display:table;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#moves_pane div.overflow > ul > li.move > ul > li {
    display:table-row;
    padding: 0px 8px;
}
#moves_pane div.overflow > ul > li.move > ul > li > span {
    padding: 4px 4px;
    display:table-cell;
    border-bottom: 1px solid lightgreen;
}
#moves_pane div.overflow > ul > li.move > ul > li:last-child > span {
    border-bottom: 0px;
}
#moves_pane div.overflow > ul > li.move > ul > li > span.name {
    display:table-cell;
    text-align: left;
    width:5em;
    font-family: sans-serif;
    font-weight: bold;
}
#moves_pane div.overflow > ul > li.move > ul > li > span.move {
    display:table-cell;
    text-align: left;
}

#explanation {
    position: absolute;
    left: 80%;
    right: 1%;
    top: 55px;
    bottom: 1%;
    border: 1px solid lightblue;
    border-radius: 8px;
    overflow: auto;
}
#explanation p {
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
